<div class="container">
	<div id="home" class="tm-content-box tm-banner">
              <div class="tm-banner-inner">
              	<form class="form-horizontal col-lg-10" role="form" action="BuyAction" method="post"  >
              		<div class="form-group"> 
				    <label for="webName" class="col-sm-3 control-label text-left">网站:</label> 
				    <div class="col-sm-5"> 
				      	<select class="form-control" id="webName" name="webName">
							<option>爱奇艺</option>
							<option>迅雷</option>
						</select>
				    </div> 
				</div>
				<div class="form-group"> 
				    <label for="timeLong" class="col-sm-3 control-label text-left">时长:</label> 
				    <div class="col-sm-5"> 
				      	<select class="form-control" id="timeLong" name="timeLong">
							<option>1小时</option>
							<option>2小时</option>
							<option>3小时</option>
							<option>4小时</option>
							<option>5小时</option>
							<option>6小时</option>
							<option>7小时</option>
							<option>8小时</option>
							<option>9小时</option>
							<option>10小时</option>
							<option>11小时</option>
							<option>12小时</option>
						</select>
				    </div>
				    <div class="col-sm-4 text-left text-style">
				    	<p>会员单价0.1元/小时</p>
				    </div>
				    
				</div>
				<div class="form-group">
					<label></label>
					<div class="left-4 col-sm-offset-4 col-sm-3">
						<input type="submit" class="btn btn-default btn-block" value="付款" >
					</div>
				</div>
              	</form>
              </div>                    
          </div>
</div>