<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>勤俭人</title>
	<link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/my_style.css"/>
	
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- load stylesheets -->
	<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        	<link rel="stylesheet" type="text/css" href="css/ie_style.css"/>
  			<script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>	
          <![endif]-->
   	
   	

</head>

<body>
	<div class="container-fluid">
		<div id="header">
			<div class="navbar navbar-default mynavbar">
				 <div class="container-fluid">
				 	<div class="col-xs-12 col-sm-offset-3 col-sm-6 left-3 ">
				 		<p class="text-center center-block motto">黄金本无种，出自勤俭家。</p>
				 	</div>
				 	<div class="nav-box col-xs-12 col-sm-3 col-md-3 left-3 ">
				 		<ul class="nav navbar-nav navbar-right">
					        <li><a href="#" >登陆</a></li>
					        <li><a href="#">退出</a></li>
					    </ul>
					    <div class="navbar-header navbar-right">
						    <a class="navbar-brand" href="#">
						        <img alt="" src="...">
						    </a>
					    </div>
				 	</div>		    
				 </div>
			</div>
		</div>
		
		<div class="container">
			<div id="home" class="tm-content-box tm-banner  col-sm-12 col-lg-12">
                <div class="col-sm-12 tm-banner-inner col-lg-12">
                	<h3>订单详情</h3>
                		<ul class="list-group col-sm-12 col-lg-12">
                			<li class="list-group-item">
                				<p class="list-group-item-text text-left">2016年11月17日09:44:07 </p><span class="badge">订单金额：5元</span>
                				<p class="list-group-item-text text-left">账号：XXXXXXX</p>
                				<p class="list-group-item-text text-left">密码：XXXXXXX</p>
                			</li>
                		</ul>
                </div>                    
            </div>
		</div>
		
	</div>
</body>
</html>